body {
	text-align: center;
	background: linear-gradient(to right, rgb(159, 235, 255), rgb(255, 176, 206));
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 2px;
	letter-spacing: .5em;
	text-transform: uppercase;
	margin: 150px;
}

h2 {
	margin-top: 50px;

}
h3 {
	letter-spacing: 0.17em;
	text-transform: none;
	font-size: .95em;
	margin: 20px;
}

#randombutton {
	text-align: center;
	margin-top: 70px;
	font-weight: 100;
	letter-spacing: 1.5px;
}

.colorbutton {
	margin: 20px;
	margin-top: 50px;
}